<script>
	.other {

	}

	/* Remove margins and padding from the list, and add a black background color */
	ul.mNav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}

	/* Float the list items side by side */
	ul.mNav li {float: left;}

	/* Style the links inside the list items */
	ul.mNav li a {
		display: inline-block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		transition: 0.3s;
		font-size: 17px;
	}

	/* Change background color of links on hover */
	ul.mNav li a:hover {background-color: #555;}

	/* Hide the list item that contains the link that should open and
		close the mNav on small screens */
	ul.mNav li.icon {display: none;}

	/* When the screen is less than 680 pixels wide, hide all list items,
		except for the first one ("Home"). Show the list item that contains the link to open and close the mNav (li.icon) */
	@media screen and (max-width:680px) {
	  ul.mNav li:not(:first-child) {display: none;}
	  ul.mNav li.icon {
	    float: right;
	    display: inline-block;
	  }
	}

	/* The "responsive" class is added to the mNav with JavaScript when the
		user clicks on the icon. This class makes the mNav look good on small screens */
	@media screen and (max-width:680px) {
	  ul.mNav.responsive {position: relative;}
	  ul.mNav.responsive li.icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	  }
	  ul.mNav.responsive li {
	    float: none;
	    display: inline;
	  }
	  ul.mNav.responsive li a {
	    display: block;
	    text-align: left;
	  }
	}
	
    	table {
    		font-family: arial, sans-serif;
    		border-collapse: collapse;
    		width: 60%;
    	}
    
    	td, th {
    		border: 1px solid #dddddd;
    		text-align: left;
    		padding: 8px;
    		vertical-align:top
    	}
    
    	tr:nth-child(even) {
    		background-color: #dddddd;
    	}

</script>